<ul class="social-media">
    <li>
        <a title="{{ site.harmony.social.email }}" 
            href="mailto:{{ site.harmony.social.email }}" 
            ><i class="fa fa-envelope"></i></a>
    </li>   
    
    <li>
        <a title="{{ site.harmony.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.harmony.social.twitter }}" 
            ><i class="fa fa-twitter"></i></a>
    </li>   
    
    <li>
        <a title="{{ site.harmony.social.github }} on Github" 
            href="https://github.com/{{ site.harmony.social.github }}" 
        ><i class="fa fa-github"></i></a>
    </li>
</ul>